{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="container d-flex justify-content-center">
    <div class="col-md-6 col-lg-4">
        {% include 'includes/alerts.html' %}
        <form class="card p-4 shadow-sm mb-5" method="post">
            {% csrf_token %}
            <h2 class="text-center mb-4">Send Reset Link</h2>
            <div class="form-group">
                <label for="exampleInputEmail1">Email address</label>
                <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email" name="email">
            </div>
            <button type="submit" class="btn btn-primary w-100 mt-2">Send Reset Link</button>
        </form>
    </div>
</div>
{% endblock %}