{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="container d-flex justify-content-center">
    <div class="col-md-6 col-lg-4">
        {% include 'includes/alerts.html' %}
        <form class="card p-4 shadow-sm mb-5" method="post">
            {% csrf_token %}
            <h2 class="text-center mb-4">Reset Password</h2>
            <div class="form-group">
                <label for="exampleInputEmail1">Password</label>
                <input type="password" class="form-control" aria-describedby="emailHelp" placeholder="Enter Password" name="password1" id="password">
                <small id="password-feedback" class="form-text text-muted"></small>
            </div>
            <div class="form-group mt-3">
                <label for="exampleInputPassword1">Confirm Password</label>
                <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password" name="password2">
            </div>
            <button type="submit" class="btn btn-primary w-100 mt-2" id="submit-button">Reset Password</button>
        </form>
    </div>
</div>
{% endblock %}